* {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    color: var(--primary-font-color);
    line-height: 1.5;
}

:root {
    --primary-bg-color: #0d0c0f;
    --secondary-bg-color: #17161b;

    --primary-border-color: #2b2a30;

    --primary-font-color: #f5f5f7;
    --secondary-font-color: #a4193d;
    --thirdary-font-color: #9b98a3;

    --jetbrains-font: "JetBrainsMono", sans-serif;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter_18pt-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}